@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&display=swap');

:root {
    --fonte01: Verdana, sans-serif;
    --fonte02: 'Cookie', cursive;
    --fonte03: 'Dancing Script', cursive;

    --cor01: #f8ddeb;
    --cor02: #CC91AF;
    --cor03: #FF69B6;
    --cor04: #802152;
    --cor05: #614553;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte01);
}

html, body {
    min-height: 100%vh;
}

header {
    background-image: linear-gradient(to right, var(--cor03), var(--cor01), var(--cor03));
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

header > h1 {
    font-family: var(--fonte03);
    font-size: 6vw;
}

header > p {
    font-family: var(--fonte03);
    font-size: 3vw;
    font-weight: bolder;
}

header a {
    text-decoration: none;
    font-family: var(--fonte03);
    color: black;
}

a:hover {
    background-color:  #61455363;
    border-radius: 10px;
    transition: 0.5s;
}

audio {
    display: block;
    width: 100px;
    position: absolute;
    left: 20px;
    background-color: #614553;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.466);
}

section {
    font-family: var(--fonte02);
    font-size: 3vh;
    padding: 20px 0px 20px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 3.5vw;
    line-height: 1.3em;
    
}

section.normal01 {
    background-color: var(--cor01);
    
}

section.normal01 > p {
    font-family: var(--fonte02);
    text-align: left;
    color: var(--cor04);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    display: inline-block;
    padding-left: 34px;
}

section.normal01 > img.foto01{
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.486);
    width: 20vw;
    margin: auto;
    margin-left: 68px;
}

section.normal02 {
    background-color: var(--cor01);
    
}

section.normal02 > p {
    font-family: var(--fonte02);
    text-align: left;
    color: var(--cor04);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    display: inline-block;
    padding-left: 34px;

}

section.normal02 > img.foto02{
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.486);
    width: 20vw;
    margin: auto;
    margin-left: 68px;
}


section.imagem {
    background-color: var(--cor04);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
}

section.imagem > p {
    font-family: var(--fonte02);
    color: var(--cor01);
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    
}

#img01 {

    background-image: url('..//imagens/fundo-01-pb.jpg');
    background-position: center center;
}

footer a {
    text-decoration: none;
    font-family: var(--fonte02);
    color: var(--cor01);
}
footer{
    background-color: var(--cor05);
    font-family: var(--fonte02);
    color: var(--cor01);
    font-size: 3vw;
    text-align: center;
}


